<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210013538605-du1qpqjp6aaln5s1echhe05tttqbsrdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210013538605-du1qpqjp6aaln5s1echhe05tttqbsrdq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210013538605-n6dr1ep65fccghovt698f30dge7saopr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnipDcYYiTmgI6bMuaIJxcHeVXwyI5F-w</string>
	<key>GCM_SENDER_ID</key>
	<string>210013538605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mevron.driver</string>
	<key>PROJECT_ID</key>
	<string>mevron-1330b</string>
	<key>STORAGE_BUCKET</key>
	<string>mevron-1330b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210013538605:ios:92a239d0b8f94b552b6ba4</string>
	<key>DATABASE_URL</key>
	<string>https://mevron-1330b.firebaseio.com</string>
</dict>
</plist>